* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

$medium: 500;
$spartan: 'Spartan';
$antonio: 'Antonio';

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

$breakpoints-up: ("medium": "660px", "large": "1150px", "xlarge": "1400px");
$breakpoints-down: ("small": "659px", "medium": "1149px", "large": "1399px");

@mixin breakpoint-up ($size) {
    @media (min-width: map-get($breakpoints-up, $size)) {
        @content;
    }
}

@mixin breakpoint-down ($size) {
    @media (max-width: map-get($breakpoints-down, $size)) {
        @content;
    }
}

.hide-for-mobile {
    @include breakpoint-down(small){
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(medium){
        display: none;
    }
}

body {
    color: white;
    font-size: 1.2rem;
    font-family: $antonio, sans-serif;
    font-weight: 400;
    background-image: url("/assets/background-stars.svg");
    background-color: #070724;
    background-position: center;
    background-size: cover;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

header {
    height: 8.4vh;
    @include flexCenter;
    border-bottom: .1rem solid rgba(151, 151, 151, 0.2);
}

.content-nav {
    display: none;
}

nav .nav-links {
    display: flex;
}

nav {
    width: 95.56%;
    margin: auto;
    @include flexCenter;
    justify-content: space-between;

    h1 {
        letter-spacing: -.105rem;
        font-size: 2.8rem;
        font-family: $antonio, sans-serif;
        font-weight: medium;
        flex: 1 1 auto;
    }

    .nav-links {
        @include flexCenter;
        flex: 1 1 auto;
        justify-content: space-around;
        opacity: 75%;

        li {
            cursor: pointer;
            letter-spacing: .1rem;
            font-size: 1.1rem;
            font-family: $spartan, sans-serif;
            font-weight: bold;
        }
    }
}

.menu-btn {
    @include flexCenter;
    width: 2.4rem;
    height: 1.7rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.menu-btn__burger {
    display: none;
    width: 2.4rem;
    height: .3rem;
    background: white;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 2.4rem;
    height: .3rem;
    background: white;
    transition: all .3s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-.7rem);
}

.menu-btn__burger::after {
    transform: translateY(.7rem);
}

.menu-btn.open .menu-btn__burger {
    opacity: 25%;
}

.planet-div {
    height: 68vh;
    width: 100%;
    @include flexCenter;
}

.planet {
    height: 45rem;
    width: 45rem;
}

.overlay {
    display: none;
    background-color: #070724;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 7rem;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.main {
    width: 77%;
    margin: auto;
    height: 68vh;
    @include flexCenter;
    flex-direction: row;
    justify-content: space-between;

    .planet-info {
        height: 50vh;
        @include flexCenter;
        justify-content: space-between;
        flex-direction: column;
        width: 33%;

        .planet-name {
            text-transform: uppercase;
            font-size: 8rem;
            margin-bottom: 2rem;
        }

        .planet-desc {
            font-family: 'Spartan', sans-serif;
            font-size: 1.4rem;
            font-weight: 400;
        }

        .planet-desc {
            margin-bottom: 2rem;
        }

        .source {
            font-family: 'Spartan', sans-serif;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            p {
                opacity: 50%;
                a {
                    margin-left: .1rem;
                    margin-right: .8rem;
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
            img {
                height: 1.2rem;
                width: 1.2rem;
            }
        }

        .planet-content {
            margin-top: 4rem;
            flex-direction: column;
            min-width: 28.1rem;

            button {
                text-align: left;
                color: white;
                height: 4.8rem;
                width: 100%;
                background-color: transparent;
                margin-bottom: 1.6rem;
                border: .1rem solid rgba(255, 255, 255, 0.2);
                text-transform: uppercase;
                font-family: 'Spartan', sans-serif;
                font-weight: bold;
                font-size: 1.2rem;
                letter-spacing: .257rem;

                span {
                    opacity: 50%;
                    padding: 2.5rem;
                }
            }
        }
    }
    
}

.facts {
    height: 23.6vh;
    width: 77%;
    margin: auto;
    @include flexCenter;
    justify-content: space-between;

    .card {
        height: 12.8rem;
        width: 25.5rem;
        border: .1rem solid rgba(255, 255, 255, 0.2);
        padding: 2rem;

        .fact-name {
            font-family: $spartan, sans-serif;
            font-size: 1.1rem;
            font-size: bold;
            letter-spacing: .1rem;
            opacity: 50%;
            margin-bottom: 1rem;
        }

        .fact {
            font-family: $antonio, sans-serif;
            font-weight: medium;
            font-size: 4rem;
        }
    }

    .rotation,
    .revolution,
    .radius {
        margin-right: 1rem;
    }
    
}

@media (max-width: 1150px) {

    nav .nav-links {
        display: flex;
    }

    header {
        height: 15.625vh;
    }

    nav {
        width: 89.58%;
        margin: auto;
        flex-direction: column;
    
        h1 {
            margin-bottom: 4rem;
        }
    
        .nav-links {
            width: 66.5rem;
        }
    }

    .planet-div {
        height: 46vh;
        width: 100%;
        @include flexCenter;
    }
    
    .planet {
    }
    
    .main {
        width: 89.58%;
        margin: auto;
        height: 69.725vh;
        flex-direction: column;
        justify-content: flex-end;
    
        .planet-info {
            height: 27.25vh;
            flex-direction: row;
            width: 100%;
    
            .planet-name {
                font-size: 4.8rem;
                margin-bottom: 2.5rem;
            }

            .planet-desc {
                margin-right: 5rem;
                font-size: 1.1rem;
                line-height: 2.2rem;
                font-weight: 400;
            }
            
            .planet-desc {
                margin-bottom: 2rem;
            }
    
            .source {
                display: flex;
                align-items: center;
                p {
                    opacity: 50%;
                    a {
                        margin-left: .1rem;
                        margin-right: .8rem;
                        font-weight: bold;
                        text-decoration: underline;
                    }
                }
                img {
                    height: 1.2rem;
                    width: 1.2rem;
                }
            }
    
            .planet-content {
                margin-top: 4.4rem;
                width: 0;
                min-width: 28.1rem;
    
                button {
                    height: 4rem;
                    background-color: transparent;
                    font-size: 0.9rem;
                    letter-spacing: .193rem;
    
                    span {
                        padding-right: 1.5rem;
                        padding-left: 2rem;
                    }
                }
            }
        }
        
    }
    
    .facts {
        width: 89.58%;
        margin: auto;
        height: 14.65vh;
    
        .card {
            height: 8.8rem;
            width: 16.4rem;
            border: .1rem solid rgba(255, 255, 255, 0.2);
            padding: 2rem;
    
            .fact-name {
                font-size: 0.8rem;
                letter-spacing: .073rem;
            }
    
            .fact {
                font-size: 2.4rem;
                letter-spacing: -.09rem;
            }
        }
    
        .rotation,
        .revolution,
        .radius {
            margin-right: 1rem;
        }
        
    }
}

@media (max-width: 660px) {

    .menu {
        width: calc(327/375*100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 48.87rem;
        position: absolute;
        top: 7rem;
        z-index: 3;

        .row {
            height: 4.3rem;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            &:not(:last-child) {
                border-bottom: 1px solid rgba(151, 151, 151, 0.1);
            }

            .row-left {
                display: flex;
                a {
                    font-family: $spartan, sans-serif;
                    font-size: 1.5rem;
                    letter-spacing: 0.136rem;
                    line-height: 2.5rem;
                    font-weight: bold;
                    margin-left: 2.5rem;
                }
            }
        }
        display: none;
    }

    .navigate-mobile {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 2rem 2.4rem 2rem 2.4rem;
        height: 7rem;
        button {
            text-transform: uppercase;
            background: transparent;
            border: none;
            color: white;
            font-family: $spartan, sans-serif;
            letter-spacing: 0.193rem;
            font-size: .9rem;
            font-weight: bold;
            opacity: 50%;
        }

    }

    nav .nav-links {
        display: none;
    }

    .menu-btn__burger {
        display: flex;
    }

    header {
        height: 14rem;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    nav {
        padding: 0 2.4rem 0 2.4rem;
        height: 7rem;
        @include flexCenter;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
        border-bottom: .1rem solid rgba(151, 151, 151, 0.2);

        h1 {
            margin-bottom: 0;
        }
    }

    .planet-div {
        height: 30rem;
        width: 100%;
        @include flexCenter;
    }
    
    .planet {
        height: 28.5rem;
        width: 28.5rem;
        background-repeat: no-repeat;
    }
    
    .main {
        margin-top: 0;
        width: 89.58%;
        margin: auto;
        height: 69.725vh;
        flex-direction: column;
        justify-content: flex-end;
    
        .planet-info {
            height: 23.5rem;
            flex-direction: row;
            width: 100%;
            text-align: center;

    
            .planet-name {
                font-size: 4rem;
                margin-bottom: 1.6rem;
            }

            .planet-desc {
                font-family: $spartan, sans-serif;
                margin-right: 0;
                font-size: 1.1rem;
                line-height: 2.2rem;
                font-weight: 400;
                width: calc(327/375*100%);
                margin: auto;
            }
            
            .planet-desc {
                margin-bottom: 3.2rem;
            }
    
            .source {
                display: flex;
                align-items: center;
                justify-content: center;
                p {
                    opacity: 50%;
                    a {
                        margin-left: .1rem;
                        margin-right: .8rem;
                        font-weight: bold;
                        text-decoration: underline;
                    }
                }
                img {
                    height: 1.2rem;
                    width: 1.2rem;
                }
            }
    
            .planet-content {
                display: none;
            }
        }
        
    }
    
    .facts {
        margin-top: 3.2rem;
        width: 87.2%;
        flex-direction: column;
        height: 30.5vh;
    
        .card {
            @include flexCenter;
            justify-content: space-between;
            height: 4.8rem;
            width: 32.7rem;
            border: .1rem solid rgba(255, 255, 255, 0.2);
            padding: 2rem;
    
            .fact-name {
                font-size: 0.8rem;
                letter-spacing: .073rem;
            }
    
            .fact {
                font-size: 2rem;
                letter-spacing: -.075rem;
            }
        }
    
        .rotation,
        .revolution,
        .radius {
            margin-right: 0rem;
        }

        .temperature {
            margin-bottom: 4rem;
        }
        
    }
}