* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

body {
  color: white;
  font-size: 1.2rem;
  font-family: "Antonio", sans-serif;
  font-weight: 400;
  background-image: url("/assets/background-stars.svg");
  background-color: #070724;
  background-position: center;
  background-size: cover;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

header {
  height: 8.4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.1rem solid rgba(151, 151, 151, 0.2);
}

.content-nav {
  display: none;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav {
  width: 95.56%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav h1 {
  letter-spacing: -.105rem;
  font-size: 2.8rem;
  font-family: "Antonio", sans-serif;
  font-weight: medium;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  opacity: 75%;
}

nav .nav-links li {
  cursor: pointer;
  letter-spacing: .1rem;
  font-size: 1.1rem;
  font-family: "Spartan", sans-serif;
  font-weight: bold;
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.4rem;
  height: 1.7rem;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.menu-btn__burger {
  display: none;
  width: 2.4rem;
  height: .3rem;
  background: white;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 2.4rem;
  height: .3rem;
  background: white;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.menu-btn__burger::before {
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
}

.menu-btn__burger::after {
  -webkit-transform: translateY(0.7rem);
          transform: translateY(0.7rem);
}

.menu-btn.open .menu-btn__burger {
  opacity: 25%;
}

.planet-div {
  height: 68vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.planet {
  height: 45rem;
  width: 45rem;
  background: url("/assets/planet-earth.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main {
  width: 77%;
  margin: auto;
  height: 68vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .planet-info {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33%;
}

.main .planet-info .planet-name {
  text-transform: uppercase;
  font-size: 8rem;
  margin-bottom: 2rem;
}

.main .planet-info .planet-desc {
  font-family: 'Spartan', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}

.main .planet-info .planet-desc {
  margin-bottom: 2rem;
}

.main .planet-info .source {
  font-family: 'Spartan', sans-serif;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .planet-info .source p {
  opacity: 50%;
}

.main .planet-info .source p a {
  margin-left: .1rem;
  margin-right: .8rem;
  font-weight: bold;
  text-decoration: underline;
}

.main .planet-info .source img {
  height: 1.2rem;
  width: 1.2rem;
}

.main .planet-info .planet-content {
  margin-top: 4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 28.1rem;
}

.main .planet-info .planet-content button {
  text-align: left;
  color: white;
  height: 4.8rem;
  width: 100%;
  background-color: transparent;
  margin-bottom: 1.6rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  font-family: 'Spartan', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: .257rem;
}

.main .planet-info .planet-content button span {
  opacity: 50%;
  padding: 2.5rem;
}

.facts {
  height: 23.6vh;
  width: 77%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.facts .card {
  height: 12.8rem;
  width: 25.5rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  padding: 2rem;
}

.facts .card .fact-name {
  font-family: "Spartan", sans-serif;
  font-size: 1.1rem;
  font-size: bold;
  letter-spacing: .1rem;
  opacity: 50%;
  margin-bottom: 1rem;
}

.facts .card .fact {
  font-family: "Antonio", sans-serif;
  font-weight: medium;
  font-size: 4rem;
}

.facts .rotation,
.facts .revolution,
.facts .radius {
  margin-right: 1rem;
}

@media (max-width: 1150px) {
  nav .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header {
    height: 15.625vh;
  }
  nav {
    width: 89.58%;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav h1 {
    margin-bottom: 4rem;
  }
  nav .nav-links {
    width: 66.5rem;
  }
  .planet-div {
    height: 46vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .planet {
    height: 28.5rem;
    width: 28.5rem;
    background-repeat: no-repeat;
  }
  .main {
    width: 89.58%;
    margin: auto;
    height: 69.725vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .main .planet-info {
    height: 27.25vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .main .planet-info .planet-name {
    font-size: 4.8rem;
    margin-bottom: 2.5rem;
  }
  .main .planet-info .planet-desc {
    margin-right: 5rem;
    font-size: 1.1rem;
    line-height: 2.2rem;
    font-weight: 400;
  }
  .main .planet-info .planet-desc {
    margin-bottom: 2rem;
  }
  .main .planet-info .source {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .planet-info .source p {
    opacity: 50%;
  }
  .main .planet-info .source p a {
    margin-left: .1rem;
    margin-right: .8rem;
    font-weight: bold;
    text-decoration: underline;
  }
  .main .planet-info .source img {
    height: 1.2rem;
    width: 1.2rem;
  }
  .main .planet-info .planet-content {
    margin-top: 4.4rem;
    width: 0;
    min-width: 28.1rem;
  }
  .main .planet-info .planet-content button {
    height: 4rem;
    background-color: transparent;
    font-size: 0.9rem;
    letter-spacing: .193rem;
  }
  .main .planet-info .planet-content button span {
    padding-right: 1.5rem;
    padding-left: 2rem;
  }
  .facts {
    width: 89.58%;
    margin: auto;
    height: 14.65vh;
  }
  .facts .card {
    height: 8.8rem;
    width: 16.4rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.2);
    padding: 2rem;
  }
  .facts .card .fact-name {
    font-size: 0.8rem;
    letter-spacing: .073rem;
  }
  .facts .card .fact {
    font-size: 2.4rem;
    letter-spacing: -.09rem;
  }
  .facts .rotation,
  .facts .revolution,
  .facts .radius {
    margin-right: 1rem;
  }
}

@media (max-width: 660px) {
  .content-nav {
    height: 5.24vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 10%;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 0.1rem solid rgba(151, 151, 151, 0.2);
  }
  nav .nav-links {
    display: none;
  }
  .menu-btn__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header {
    height: 7.12vh;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 87.2%;
    position: absolute;
  }
  nav h1 {
    margin-bottom: 0;
  }
  nav .nav-links {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    min-width: 32.7rem;
    height: 48.7rem;
    background-color: #070724;
    border-radius: .4rem;
    top: 10vh;
    display: none;
    z-index: 3;
  }
  nav .nav-links li {
    color: white;
    letter-spacing: -.011rem;
  }
  .planet-div {
    height: 32.1vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .planet {
    height: 28.5rem;
    width: 28.5rem;
    background-repeat: no-repeat;
  }
  .main {
    width: 89.58%;
    margin: auto;
    height: 69.725vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .main .planet-info {
    height: 27.25vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .main .planet-info .planet-name {
    font-size: 4.8rem;
    margin-bottom: 2.5rem;
  }
  .main .planet-info .planet-desc {
    margin-right: 5rem;
    font-size: 1.1rem;
    line-height: 2.2rem;
    font-weight: 400;
  }
  .main .planet-info .planet-desc {
    margin-bottom: 2rem;
  }
  .main .planet-info .source {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .planet-info .source p {
    opacity: 50%;
  }
  .main .planet-info .source p a {
    margin-left: .1rem;
    margin-right: .8rem;
    font-weight: bold;
    text-decoration: underline;
  }
  .main .planet-info .source img {
    height: 1.2rem;
    width: 1.2rem;
  }
  .main .planet-info .planet-content {
    display: none;
  }
  .facts {
    width: 87.2%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 30.5vh;
  }
  .facts .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 4.8rem;
    width: 32.7rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.2);
    padding: 2rem;
  }
  .facts .card .fact-name {
    font-size: 0.8rem;
    letter-spacing: .073rem;
  }
  .facts .card .fact {
    font-size: 2rem;
    letter-spacing: -.075rem;
  }
  .facts .rotation,
  .facts .revolution,
  .facts .radius {
    margin-right: 0rem;
  }
  .facts .temperature {
    margin-bottom: 4rem;
  }
}
/*# sourceMappingURL=style.css.map */